body {
  margin: 0px;
  font-family: Arial, sans-serif;
  color: #141414;
  margin-bottom: 0px;
}

a {
  color: initial;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

a,
h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  background-color: #323232;
  scroll-behavior: smooth;
}

@media (max-width: 450px) {
  html {
    overflow-x: hidden;
  }

  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
