.introducao {
  max-width: 1100px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
}

.introducao h1 {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 1.875rem;
  position: relative;
}

.introducao h1::after {
  content: "";
  display: block;
  width: 130px;
  height: 4px;
  background: url("../img/detalhe1.svg") no-repeat center;
  position: absolute;
  top: 230px;
  right: 85px;
}

.imagem {
  position: relative;
  max-width: 100%;
}

.imagem::before {
  content: "";
  display: block;
  width: 90px;
  height: 100px;
  background: url("../img/detalhe1.svg") no-repeat center;
  position: absolute;
  top: 180px;
  left: -35px;
}

.imagem::after {
  content: "";
  display: block;
  width: 90px;
  height: 100px;
  background: url("../img/detalhe1.svg") no-repeat center;
  position: absolute;
  top: -15px;
  right: -35px;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1130px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::after {
    top: 173px;
    left: -45px;
  }

  .imagem::before {
    rotate: 60deg;
    left: -45px;
    top: -20px;
  }
  .imagem::after {
    rotate: 60deg;
    right: -45px;
    top: 110px;
  }
}

@media (max-width: 801px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .imagem::after {
    rotate: 60deg;
    right: -45px;
    top: 150px;
  }
}

@media (max-width: 801px) {
  .introducao h1::after {
    top: 120px;
    left: -45px;
  }
  .introducao p {
    font-size: 1.2rem;
  }
}

@media (max-width: 542px) {
  .introducao h1::after {
    top: 155px;
  }
}

@media (max-width: 519px) {
  .introducao h1::after {
    top: 155px;
  }
  .imagem::after {
    rotate: 60deg;
    right: -45px;
    top: 80px;
  }
}

@media (max-width: 450px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao h1::after {
    top: 120px;
    left: -45px;
  }
  .imagem::after {
    rotate: 60deg;
    right: -45px;
    top: 180px;
  }
}
