.footer {
  background-color: #1c1c1c;
  padding: 32px 108px 16px 108px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: -50px;
}

.footer li {
  margin-bottom: 8px;
  color: #d1d1d1;
}

.footer li a {
  color: #d1d1d1;
}

.footer li a:hover {
  color: #fff;
}

.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}
