html {
  scroll-behavior: smooth;
}

.bg-geral {
  margin: 0 auto;
  padding: 0px;
  max-width: 1200px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #2c2c2c;
  overflow-x: hidden;
}

h1, h2, h3, h4, p, ul, li, dd, dt {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

p, h1, h2, h3, h4, a, li {
  color: #fff;
}

.azul {
  color: cyan;
}

.vermelha {
  color: #FD0000;
}

.amarela {
  color: gold;
}

.verde {
  color: #038C36;
}

.laranja {
  color: orangered;
}

.laranja2 {
  color: orange;
}

img {
  border-radius: 4px;
}


.nav-interna {
  padding: 32px;
}

.nav-interna ul {
  display: flex;
  gap: 32px;
  justify-content: center;
  background-color: #1a1a1a;
  border-radius: 4px;
  padding: 8px;
}

.nav-interna ul a {
  padding: 9px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #e9e9e9;
}

.nav-interna a:hover {
  background-color: #3e3e3e;
}

