.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 108px 32px 108px;
  align-items: center;
  background-color: #1c1c1c;
  margin-bottom: 16px;
}

.header ul {
  display: flex;
  gap: 20px;
}

.header li a {
  flex-wrap: wrap;
  font-weight: 600;
  letter-spacing: 1.1px;
  position: relative;
}

.header li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  margin-top: 2px;
  position: absolute;
}

.header li a:hover::after {
  width: 100%;
  transition: 0.3s;
}