@import "./css/global/global.css";
@import "./css/global/header.css";
@import "./css/global/footer.css";
@import "./css/home/introducao.css";
@import "./css/home/promocao.css";
@import "./css/home/destaques.css";
@import "./css/home/produtos.css";
@import "./css/home/loja.css";
@import "./css/consoles/intro.css";
@import "./css/consoles/consoles.css";
@import "./css/controles/controles.css";
@import "./css/acessorios/acessorios.css";
@import "./css/contato/contato.css";
@import "./css/console/pag-consoles.css";
@import "./css/orcamento/orcamento.css";
@import "./css/termos/termos.css";
@import "./css/global/sugestoes.css";
@import "./css/global/animacao.css";