label {
  padding: 0px;
  margin: 0px;
}

input {
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  font-size: 1.125rem;
  background-color: #e9e9e9;
}

.form1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 36px;
}

.form1 label {
  grid-row: 1;
}

.form1 input {
  width: 100%;
  margin-bottom: 8px;
  margin-top: -16px;
  grid-row: 2;
}

.container-real {
  padding: 72px;
}

.form-container {
  background-color: #1c1c1c;
  padding: 64px;
  margin: 0 auto;
  border-radius: 4px;
  max-width: 1200px;
}

.form-container button {
  font-weight: 600;
  font-size: 1.125rem;
}

.form-container label {
  margin-bottom: -8px;
}

.form2 label {
  display: block;
  margin-top: 24px;
  margin-bottom: 8px;
}

.form2 input {
  width: 100%;
  border-radius: 4px;
}

.form2 textarea {
  width: 100%;
  border-radius: 4px;
  height: 200px;
  padding: 8px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  box-sizing: border-box;
}

.form-container input[type="text"]:focus,
.form2 input[type="email"]:focus,
.form2 textarea:focus {
  outline: none;
  border-color: #2cb3ff;
  background: #fff;
  box-shadow: 0 0 0 3px #2cb3ff;
}

.form-container button {
  margin-top: 16px;
}

@media(max-width:800px) {
  .form1 {
    display: block;
    grid-template-columns: 1fr;
  }
  .form1 input {
    margin-top: 8px;
  }
  .form2 label {
    margin-top: 8px;
  }
  .form-container button {
    display: block;
    width: 100%;
  }
  .container-real{
    padding: 40px;
  }
  .form-container {
    padding: 40px;
  }
}
@media(max-width: 500px) {
  .container-real{
    padding: 0px;
  }
  .form-container {
    padding: 20px;
  }
}