.projetos h1 {
  font-size: 2rem;
  margin-top: 32px;
  margin-bottom: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.projetos-feitos {
  padding: 24px;
  display: grid;
  gap: 20px;
}

.projetos-feitos div {
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.projetos-feitos div p {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 1.125rem;
}

.projetos-feitos div a {
  padding: 8px 12px;
  background-color: #e9e9e9;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.2s ease;
}

.projetos-feitos div a:hover {
  background-color: #d8d8d8;
}

.projetos-feitos div h3 {
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
  position: relative;
}

.projetos-feitos div h3::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #2cbbff;
  border-radius: 50%;
  margin-right: 12px;
}

.projetos-feitos p::after {
  content: '';
  display: block;
  width: 16px;
  height: 4px;
  background-color: #2cbbff;
  margin-top: 8px;
}

.projbikcraft h3::after {
  content: '';
  display: block;
  height: 32px;
  width: 32px;
  right: 0px;
  top: 0px;
  background-image: url('../../img/icone-bikcraft.svg');
  position: absolute;
}

.projhardtech h3::after {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  right: 0px;
  top: 0px;
  background-image: url('../../img/icone-hardtech.svg');
  position: absolute;
}

.projunes h3::after {
  content: '';
  display: block;
  height: 28px;
  width: 28px;
  right: 0px;
  top: 0px;
  background-image: url('../../img/icone-unes.svg');
  position: absolute;
}

.projvbrasil h3::after {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  right: 0px;
  top: 0px;
  background-image: url('../../img/icone-violencia.svg');
  position: absolute;
}

@media(max-width:851px) {
  .projetos h1 {
    text-align: center;
    margin-bottom: initial;
    margin-top: 12px;
  }
}
@media(max-width:500px) {
  .projetos-feitos div p {
    font-size: 1rem;
  }
  .projetos-feitos div h3 {
    font-size: 1rem;
  }
}