.formacao h2 {
  text-align: center;
  margin-top: 64px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-bottom: 16px;
}

.formacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.formacoes div {
  padding: 16px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.formacoes h3, h4 {
  margin-bottom: 4px;
}

.formacoes h3 {
  position: relative;
}

.formacoes p {
  margin-top: 4px;
}

.formacoes div:hover {
  background-color: #f0f0f0;
}

.formacoes h4::after {
  content: '';
  display: block;
  height: 4px;
  width: 16px;
  background: linear-gradient(#2cb3ff, #007fc7);
  margin-top: 4px;
}

.ciencia h3::before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('../../img/icone-bacharelado.svg');
  position: absolute;
  right: 0px;
}

.html h3::before, .js h3::before, .programacao h3::before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('../../img/icone-codigo.svg');
  position: absolute;
  right: 0px;
}

.ingles h3::before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('../../img/icone-linguagem.svg');
  position: absolute;
  right: 0px;
}

.powerbi h3::before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('../../img/database.svg');
  position: absolute;
  right: 0px;
}

.pontos::after {
  content: '';
  animation: pontos 1.5s steps(5, end) infinite;
}

@keyframes pontos {
  0%, 20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80% {
    content: "...";
  }
  100% {
    content: "";
  }
}

@media(max-width:600px) {
  .formacoes {
    grid-template-columns: 1fr;
  }
}
@media(max-width:420px) {
  .powerbi h3::before {
    top: 20px;
  }
}
@media(max-width:360px) {
  .powerbi h3::before {
    top: 0px;
  }
}