.intro h1 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 2rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.introducao-basica h2 {
  margin-bottom: 4px;
  grid-column: 1;
}

.introducao-basica {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  place-items: center;
}

.introducao-basica p {
  font-size: 1.125rem;
  max-width: 80ch;
  color: #2e2e2e;
  padding: 24px;
  grid-column: 1;
  line-height: 1.2;
}

.introducao-basica img {
  grid-column: 2;
  height: 500px;
  object-fit: cover;
  grid-row: 1/-1;
}

.introducao-basica span {
  font-weight: 600;
  text-decoration: underline;
}

.introducao-basica strong {
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
}

.introducao-basica span:hover {
  color: #3e3e3e;
}

@media(max-width:851px) {
  .introducao-basica {
    grid-template-columns: 1fr;
  }
  .introducao-basica img {
    grid-column: initial;
    grid-row: initial;
    width: 100%;
    object-fit: cover;
    height: 300px;
  }
  .introducao-basica p {
    font-size: 1rem;
  }
  .intro h1 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: initial;
  }
}
@media(max-width:680px) {
  .introducao-basica p {
    padding: 12px;
  }
}
@media(max-width:500px) {
  .introducao-basica p {
    font-size: 0.9rem;
  }
}
@media(max-width:400px) {
  .introducao-basica p {
    font-size: 0.8rem;
    padding: 8px;
  }
}