.destaques-semana h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 32px;
}

.destaques {
  display: flex;
  gap: 80px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.destaque {
  background-color: #1c1c1c;
  transition: transform 0.3s ease;
  border-radius: 4px;
}

.destaque h3, p {
  padding: 0px 16px;
  margin-bottom: 16px;
}

.destaque h3 {
  margin-top: 16px;
}

.destaque p {
  color: #e9e9e9;
}

.destaque:hover {
  transform: scale(1.05);
  background-color: #3f3f3f;
}

.destaque img {
  border-radius: 5px 5px 0px 0px;
}

@media (min-width: 100px) {
  .destaque img {
    height: fit-content;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .destaque h3, p {
    min-width: 20ch;
  }
  
  .destaques {
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 400px;
    padding-right: 50px;
    gap: 60px;
  }
}

@media (max-width: 680px) {
  .destaques-semana h1 {
    margin-top: 24px;
  }
  .destaques {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 50px 0 300px;
    gap: 30px;
  }
  .destaques > .destaque:first-child {
    display: none;
  }
}