.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao-conteudo h1 {
  max-width: 13ch;
  text-align: start;
}

.introducao-conteudo p {
  margin-top: 32px;
  margin-bottom: 48px;
  font-size: 1.35rem;
  padding: initial;
  max-width: 40ch;
  text-align: start;
  line-height: 1.5;
}

.introducao-conteudo {
  padding: 32px 32px 32px 0px;
}

@media (max-width: 1100px) {
  .introducao img {
    width: 100%;
    height: 250px;
    grid-row: 1/-1;
    grid-column: 1/-1;
    object-fit: cover;
    border-radius: initial;
  }
  .introducao-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    text-align: center;
    padding-left: 24px;
  }
  .introducao-conteudo h1 {
    max-width: initial;
    font-size: 3rem;
    text-align: center;
  }
  .introducao-conteudo p {
    text-align: center;
    max-width: initial;
  }
}