.localizacao-loja h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 48px;
}

.localizacao-loja {
  padding-bottom: 48px;
}

.loja {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #1c1c1c;
  border-radius: 4px;
  margin: 0 auto;
  max-width: 1200px;
}

.loja img {
  width: 100%;
  border-radius: 4px 0px 0px 4px;
}

.loja-endereco p {
  margin-bottom: 48px;
  padding-left: 32px;
}

@media (max-width: 800px) {
  .loja {
    grid-template-columns: 1fr;
    padding: 40px;
  }
  .loja img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 24px;
    border-radius: 4px;
  }
  .loja-endereco {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .loja-endereco p {
    margin-bottom: initial;
  }
  .localizacao-loja h1 {
    margin-bottom: 12px;
  }
}
@media (max-width: 350px) {
  .loja img {
    width: 90%;
  }
}