html {
 background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a, ul, li, p, span, summary, details, img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.background {
  margin: 0 auto;
  max-width: 1300px;
}

html {
  scroll-behavior: smooth;
}