.intro-controles {
  padding: 64px auto;
  margin: 0 auto;
  max-width: 1200px;
  background-image: url("../../img/controles/controles-introducao.jpg");
  border-radius: 4px;
}

.introducao-controles {
  padding: 64px 32px;
}

.introducao-controles p {
  padding: initial;
  margin: 32px 0px;
  max-width: 75ch;
}

.intro-controles a {
  font-size: 2rem;
}

.intro-controles a:hover {
  color: #2cb3ff;
}

.produtos-controle {
  margin-top: 64px;
  padding: 0px 80px;
  margin: 0 auto;
  max-width: 1200px;
}

.produtos-controle h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 24px;
}

.produtos-controle img {
  height: 100%;
  object-fit: cover;
}

.produtos-controle .produto1 span {
  font-weight: 600;
  background-color: #2e2e2e;
  padding: 16px;
  border-radius: 0px 4px 4px 0px;
}

.produtos-controle .produto2 span {
  font-weight: 600;
  background-color: #2e2e2e;
  padding: 16px;
  border-radius: 4px 0px 0px 4px;
}

@media(max-width:800px) {
  .introducao-controles h1 {
    font-size: 3rem;
  }
  .produtos-controle h1 {
    margin-top: 12px;
  }
  .produtos-controle img {
    height: 250px;
  }
  .produtos-controle {
    padding: 40px;
  }
}
@media(max-width:400px) {
  .introducao-controles h1 {
    font-size: 2.5rem;
  }
  .intro-controles {
    background-position: right;
  }
  .produtos-controle {
    padding: 0px;
  }
}