.contato-home h2 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: center;
}

#email-home, #telefone-home, .contato-home a {
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.contato li {
  display: block;
}

.github::after, .linkedin::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../../img/redirecionar.svg');
  position: absolute;
  top: 0px;
  left: 160px;
  transition: 0.3s ease;
}

.github:hover::after, .linkedin:hover::after {
  left: 168px;
}

.contato a:hover {
  color: #5e5e5e;
}

.contato-lista li {
  padding: 8px;
  border-radius: 4px;
}

.contato {
  background-color: #f5f5f5;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
}

#telefone-home::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../../img/telefone.svg');
  position: absolute;
  top: 8px;
  left: 328px;
  transition: 0.3s ease;
}

#email-home::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../../img/email.svg');
  position: absolute;
  top: 10px;
  left: 456px;
  transition: 0.3s ease;
}

#telefone-home:hover::after {
  left: 336px;
}

#email-home:hover::after {
  left: 464px;
}

.contato-lista li:nth-child(even) {
  background-color: #fff;
}

@media(max-width:550px) {
  .contato-home li a {
    font-size: 1.250rem;
  }
  #telefone-home::after {
    left: 276px;
  }
  #telefone-home:hover::after {
    left: 284px;
  }
  #email-home::after {
    left: 380px;
  }
  #email-home:hover::after {
    left: 388px;
  }
  .github::after, .linkedin::after {
    left: 128px;
  }
  .github:hover::after, .linkedin:hover::after {
    left: 136px;
  }
}

@media(max-width:450px) {
  .contato-home li a {
    font-size: 1rem;
  }
  #telefone-home::after {
    left: 220px;
  }
  #telefone-home:hover::after {
    left: 228px;
  }
  #email-home::after {
    left: 306px;
  }
  #email-home:hover::after {
    left: 314px;
  }
  .github::after, .linkedin::after {
    left: 102px;
    top: 0px;
  }
  .github:hover::after, .linkedin:hover::after {
    left: 110px;
  }
}

@media(max-width:370px) {
  .contato {
    padding: initial;
  }
}
@media(max-width:350px) {
  .contato li a {
    font-size: 0.920rem;
  }
  #telefone-home::after {
    left: 202px;
  }
  #telefone-home:hover::after {
    left: 206px;
  }
  #email-home::after {
    left: 280px;
  }
  #email-home:hover::after {
    left: 284px;
  }
  .github::after, .linkedin::after {
    left: 96px;
    top: 0px;
  }
  .github:hover::after, .linkedin:hover::after {
    left: 100px;
  }
}
@media(max-width:310px) {
  .contato-home li a {
    font-size: 0.850rem;
  }
  #telefone-home::after {
    left: 192px;
  }
  #telefone-home:hover::after {
    left: 196px;
  }
  #email-home::after {
    left: 260px;
  }
  #email-home:hover::after {
    left: 264px;
  }
  .github-home::after, .linkedin-home::after {
    left: 86px;
    top: 0px;
  }
  .github-home:hover::after, .linkedin-home:hover::after {
    left: 90px;
  }
}