.formacoes-home h2 {
  text-align: center;
  margin-top: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-bottom: 16px;
}

.formacoes-home {
  border-bottom: 4px solid #f5f5f5;
}

.formacoes-home a {
  margin-bottom: 12px;
}

.formacoes-home div {
  padding: 12px 24px;
  background-color: #f5f5f5;
  margin-bottom: 8px;
  border-radius: 4px;
  transition: 0.3s ease; 
  position: relative;
}

.formacoes-home div:hover {
  background-color: #e9e9e9;
}

.formacoes-home div:hover::before {
  content: '';
  width: 4px;
  height: 100%;
  top: 0px;
  left: 0px;
  border-left: 4px solid #2CB3ff;
  position:absolute;
}

.ciencia-home h3::before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('../../img/icone-bacharelado.svg');
  position: absolute;
  right: 8px;
}

.html-home h3::before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('../../img/icone-codigo.svg');
  position: absolute;
  right: 8px;
}

.ingles-home h3::before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('../../img/icone-linguagem.svg');
  position: absolute;
  right: 8px;
}

.formacoes-home h4::after {
  content: '';
  display: block;
  width: 16px;
  height: 4px;
  background: linear-gradient(#2cb3ff, #007FC7);
  margin-top: 4px;
}