.projetos-home h2 {
  margin-top: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
  text-align: center;
  color: #1e1e1e;
}

.projetos-home li {
  padding: 12px 24px;
  background-color: #f5f5f5;
  margin-bottom: 8px;
  border-radius: 4px;
  transition: 0.3s ease; 
}

.projetos-home li h3 {
  margin-bottom: 8px;
  position: relative;
}

.projetos-home li:hover,.projetos-home li a:hover {
  background-color: #e9e9e9;
}

.projetos-home a {
  position: relative;
  margin-bottom: 24px;
}

.projetos-home a:hover::before {
  content: '';
  width: 4px;
  height: 100%;
  border-left: 4px solid #2CB3ff;
  position:absolute;
}

.projetos-home {
  border-bottom: 4px solid #f5f5f5;
}

.bik-home h3::after {
  content: '';
  display: block;
  height: 32px;
  width: 32px;
  right: 0px;
  top: 0px;
  background-image: url('../../img/icone-bikcraft.svg');
  position: absolute;
}

.har-home h3::after {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  right: 0px;
  top: 0px;
  background-image: url('../../img/icone-hardtech.svg');
  position: absolute;
}

.une-home h3::after {
  content: '';
  display: block;
  height: 28px;
  width: 28px;
  right: 0px;
  top: 0px;
  background-image: url('../../img/icone-unes.svg');
  position: absolute;
}

.botao-home {
  padding: 16px;
  display: block;
  transition: 0.3s;
  background: linear-gradient(#2CB3FF, #007FC7);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  margin-top: 4px;
}

.botao-home::before {
  display: none;
}

.botao-home:hover {
  background: linear-gradient(#11A9FF, #006AA5);
}
