.categorias {
  margin-top: 40px;
  padding: 32px;
}

.categorias h2 {
  text-align: center;
  margin-bottom: 16px;
}

.categorias-conteudo li {
  background-color: #1c1c1c;
  margin-bottom: 12px;
  border-radius: 4px;
}

.categorias-conteudo a {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.categorias-conteudo a:hover {
  background-color: #3c3c3c;
  border-radius: 4px;
}

.categorias-conteudo {
  display: flex;
  font-size: 1.3rem;
  gap: 20px;
  margin-left: 180px;
}