.contexto {
  padding: 32px;
}

.contexto-titulo {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 48px;
}

.contexto img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.contexto-bg {
  background-color: #1c1c1c;
  border-radius: 4px;
}

.contexto-conteudo {
  padding: 32px;
  font-size: 1.250rem;
  line-height: 1.1;
}