.regiao {
  padding: 32px;
  margin-bottom: 40px;
}

.regiao h2 {
  text-align: center;
  margin-bottom: 16px;
}

.regiao-barra span {
  color: cyan;
}

.regiao-barra span:nth-child(2) {
  color: #fd0000;
}

.regiao-barra {
  display: flex;
  gap: 16px;
  background-color: #1c1c1c;
}

.regiao-barra p {
  font-size: 1.5rem;
  padding: 16px;
}

.regiao-linha img {
  width: 100%;
}

.regiao-linha h2 {
  margin-top: 60px;
}

.regiao-linha ul {
  display: flex;
  gap: 24px;
  font-size: 1.5rem;
  font-weight: 600;
}

.explicacao-regiao {
  display: flex;
  margin-top: 12px;
  background-color: #1c1c1c;
  padding: 32px;
  gap: 20px;
}

.explicacao-regiao span {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
  color: #fff;
}

.explicacao-regiao ul li {
  margin-bottom: 12px;
  color: #fff;
}

.explicacao-regiao ul li:last-child {
  margin-bottom: 0px;
}


.lista-explicacao-regiao1 ul li {
  max-width: 100ch;
  color: #e1e1e1;
  line-height: 1.3;
}

.lista-explicacao-regiao1 ul li:last-child {
  margin-top: 52px;
}

.lista-explicacao-regiao2 ul li {
  max-width: 100ch;
  color: #e1e1e1;
  line-height: 1.3;
}

.regiao h3 {
  text-align: center;
  margin-bottom: -13px;
  border: none;
  background-color: #1c1c1c;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1.5rem;
  margin-top: 40px;
  color: #fff;
  font-weight: 600;
}