#orcamento {
  background: linear-gradient(#2e2e2e 600px, #1c1c1c 0px);
}

.form-dividido {
  display: flex;
  gap: 12px;
}

.form-dividido2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding: 60px 60px 60px 120px;
  margin: 0 auto;
  max-width: 1200px;
}

.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  color: #e9e9e9;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: #2cb3ff;
  position: absolute;
  left: -12px;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  border-radius: 5px 0 0 5px;
  background: #1c1c1c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}

.orcamento-produto label {
  font: 400 1rem/1.5 "Fira Sans", sans-serif;
  background-color: #2E2E2E;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;  
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid #2E2E2E;
}

.orcamento-produto label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  margin-right: 8px;
}

.orcamento-produto label span {
  display: none;
} 

.orcamento-produto label:hover {
  background-color: #1E1E1E;
  border-color: #E9E9E9;
}

.orcamento-produto input:focus + label {
  box-shadow: 0 0 0 2px #2cb3ff;
  border-color: #1C1C1C;
}

.orcamento-produto input:checked + label span {
  display: inline-block;
} 

.orcamento-produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-produto input:checked + label {
  background: #000;
  color: #E9E9E9;
  border-color: #2cb3ff;
}

.orcamento-produto input:checked + label::before {
  border-color: #E5E5E5;
  box-shadow: inset 0 0 0 3px #000, inset 0 0 0 6px #2cb3ff;
}


.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-dados {
  border-radius: 0 5px 5px 0;
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.orcamento-conteudo h2,.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

#consoles:checked ~ #orcamento-consoles, #controles:checked ~ #orcamento-controles, #acessorios:checked ~ #orcamento-acessorios { 
  display: grid;
  gap: 20px;
}

.orcamento-detalhes {
  display: none;
  border-radius: 4px;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

.orcamento-dados input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
}

.orcamento-dados h2 {
  margin-bottom: 16px;
}

.orcamento-dados input[type="text"]:focus,
.orcamento-dados input[type="email"]:focus,
.orcamento-dados textarea:focus {
outline: none;
border-color: #2cb3ff;
background: #fff;
box-shadow: 0 0 0 2px #2cb3ff;
}

.orcamento-dados button {
  margin-top: 16px;
}

@media (max-width: 1200px) {
  .orcamento-produto, .orcamento-dados {
    padding: 32px;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
    padding: 30px;
  }
  .orcamento-dados {
    border-radius: 0 0 5px 5px;
  }
  .orcamento-produto {
    border-radius: 5px 5px 0 0;
  }
}
@media(max-width:600px) {
  .form-dividido, .form-dividido2, .orcamento-dados button {
    display: block;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .orcamento-produto {
    grid-template-columns: 1fr;
  }
  .orcamento {
  padding: 16px;
  }
}
@media (max-width: 350px) {
  .orcamento {
  padding: 8px;
  }
}